/* @keyframes linear-loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}

@utility animate-linear-loader {
  animation: linear-loader 1.5s ease-in-out infinite;
} */

@keyframes linear-loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}

@utility animate-linear-loader {
  animation: linear-loader 1.2s linear infinite;
}
